.menu-panel {
  transition: all 0.2s ease-in-out;
  position: fixed;
  z-index: 9999;
  top: 0;
  height: 100%;
  width: 80%;
  background-color: gray;
  border: 1px solid #ccc;
}
.menu-panel .menu__button {
  transition: all 0.2s ease-in-out;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  z-index: 2;
  top: 30px;
  width: 30px;
  height: 30px;
}
.menu-panel .menu__button span,
.menu-panel .menu__button span:before,
.menu-panel .menu__button span:after {
  transition: all 0.3s ease-in-out;
  width: 32px;
  height: 3px;
  background-color: #979797;
}
.menu-panel .menu__button span {
  position: relative;
  display: inline-block;
  margin-top: 9.09090909px;
}
.menu-panel .menu__button span:before,
.menu-panel .menu__button span:after {
  content: "";
  position: absolute;
  left: 0;
}
.menu-panel .menu__button span:before {
  top: -9.09090909px;
}
.menu-panel .menu__button span:after {
  top: 9.09090909px;
}
.menu-panel .menu__button.is--active span {
  background: transparent;
}
.menu-panel .menu__button.is--active span:before,
.menu-panel .menu__button.is--active span:after {
  top: 0;
}
.menu-panel .menu__button.is--active span:before {
  transform: rotate(-135deg);
}
.menu-panel .menu__button.is--active span:after {
  transition-delay: 0.09s;
  transform: rotate(135deg);
}
.mo-menu-title {
  background: gray;
  height: 300px;
  color: #fff;
  font-size: 16px;
  padding: 18px 20px 0 20px;
  text-align: left;
  border: white solid 1px;
}
.mo-menu-title a:first-of-type {
  border-right: 1px solid gray;
  padding: 0 7px 0 0;
}
.menu-panel > .menu-list {
  width: 100%;
  z-index: 1;
  height: auto;
  text-align: left;
}
.menu-panel > .menu-list > li {
  clear: both;
  width: 100%;
  border-bottom: 1px solid #dcdcdc;
}
.menu-panel > .menu-list > .menu-label > .menu-list__text {
  font-size: 17px;
  padding: 20px 0 20px 50px;
  color: #444;
  width: calc(100% - 60px);
  display: inline-block;
  height: 100%;
}
.menu-panel ul li .menu-list__arrow {
  height: 64px;
  width: 60px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  left: 1700px;
}
.menu-panel ul li .menu-list__arrow::before,
.menu-panel ul li .menu-list__arrow::after {
  width: 25px;
  height: 2px;
  background: #535353;
  content: "";
  display: inline-block;
  position: absolute;
  left: 17.5px;
  top: calc(50% - 1px);
  transition: all 0.3s ease-in-out;
}
.menu-panel ul li .menu-list__arrow::after {
  transform: rotate(90deg);
}
.menu-panel .sub-menu {
  display: none;
  width: 100%;
  padding: 0 10.133%;
}
.menu-panel .sub-menu:after {
  content: "";
  display: block;
  clear: both;
}
.menu-panel .sub-menu li {
  float: left;
  height: 45px;
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
}
.menu-panel .sub-menu li:last-of-type {
  border-bottom: none;
  margin: 0 0 10px 0;
}
.menu-panel .sub-menu li:first-of-type {
  margin: 10px 0 0 0;
}
.menu-panel .sub-menu li a {
  display: block;
  height: 100%;
  padding: 11px 0px 15px 8px;
  font: 15px "bgR";
  color: #ffffff;
}
.menu-panel {
  left: -100%;
}
.menu-panel .menu__button {
  left: 130%;
}
.menu-panel.is--active {
  left: 0;
  overflow: auto;
}
.menu-panel.is--active .menu__button {
  left: 100%;
  margin-left: -46px;
  z-index: 999;
  margin-top: -10px;
}
.menu-panel.is--active .menu__button span:before,
.menu-panel.is--active .menu__button span:after {
  background: #fff;
}
.menu-panel-overlay {
  position: fixed;
  top: 0;
  z-index: 9998;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
.menu-list > .menu-label.is--open .menu-list__text {
  color: #353535;
}
.menu-list > .menu-label.is--open .sub-menu {
  border-top: 2px solid #fdfcfc;
  display: block;
}
.menu-list > .menu-label.is--open .menu-list__arrow::before,
.menu-list > .menu-label.is--open .menu-list__arrow::after {
  background: #474747;
}
.menu-list > .menu-label.is--open .menu-list__arrow::after {
  transition-delay: 0.09s;
  transform: rotate(0deg);
}
